*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  transition: transform 1s;

}
.navbar{
  background: #2c3e50;
}
.nav-item a{
  font-size: 1.3rem;
}
.right-side h1{
  line-height: 90px;
  color:#2c2c54;
}
.mainheader{
  height: 700px;
  background-color: #ecf0f1;
}
.covid-root img{
  animation: spinning 5s linear infinite;
}
@keyframes spinning{
  0% { transform:rotate(0);}
  100% { transform:rotate(360deg);}
}
.left-side img{
  animation: zooming 4s linear infinite;
}
@keyframes zooming{
  0%{ transform: scale(.75);}
  20%{ transform: scale(1);}
  40%{ transform: scale(.75);}
  60%{ transform: scale(1);}
  80%{ transform: scale(.75);}
  100%{ transform: scale(.75);}
}
.Updates-div{
  margin: 200px 0px;
}
.Updates{
  margin: 50px 0px 50px 0px;
}
.update-div{
  background-color:#2c3e50;
  padding-top: 2px;
  padding-bottom: 30px;
}

.Updates h1{
  color: #2c2c54;
  font-style:normal;
  font-size: 3rem;

}


.preventions{
  background-color:#34ace0;
  padding-top: 2px;
  padding-bottom: 30px;
}
.Updates .text-capitalized{
  color:#fff;
}

.content h1{
  font-size: 4.5rem;
  cursor: pointer;
  transition: transform 2s

}
.content h1:hover{
  transform: scale(1.2);
  cursor: pointer;
}
.about-us{
  height: 700px;
  background-color: #d1ccc0;
}
.country-div{
  background-color: #ffbe76;
}
.country-div h1{
  font-size: 3rem;
}
.sympimg{
  height: 100px;
  width: 100px;
}
.preventiondivs{
  transition: transform 2s
}
.preventiondivs:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.sympdiv{
  transition: transform 1s;
}
.sympdiv:hover{
  transform: scale(1.3);
    cursor: pointer;
}